.Math:hover {
            background-color: #ff5050;
            border-color: #ff5050;
        }
        .Math-highlighted {
            background-color: #ff5050;
        }
        .Math-highlighted:hover {
            background-color: #ff5050;
            border-color: #ff5050;
        }
.NaturalSciences:hover {
            background-color: #a2fab0;
            border-color: #a2fab0;
        }
        .NaturalSciences-highlighted {
            background-color: #a2fab0;
        }
        .NaturalSciences-highlighted:hover {
            background-color: #a2fab0;
            border-color: #a2fab0;
        }
.EngineeringSciences:hover {
            background-color: #66ccff;
            border-color: #66ccff;
        }
        .EngineeringSciences-highlighted {
            background-color: #66ccff;
        }
        .EngineeringSciences-highlighted:hover {
            background-color: #66ccff;
            border-color: #66ccff;
        }
.EngineeringDesign:hover {
            background-color: #ff9900;
            border-color: #ff9900;
        }
        .EngineeringDesign-highlighted {
            background-color: #ff9900;
        }
        .EngineeringDesign-highlighted:hover {
            background-color: #ff9900;
            border-color: #ff9900;
        }
.EngineeringProfession:hover {
            background-color: #ff78c0;
            border-color: #ff78c0;
        }
        .EngineeringProfession-highlighted {
            background-color: #ff78c0;
        }
        .EngineeringProfession-highlighted:hover {
            background-color: #ff78c0;
            border-color: #ff78c0;
        }
.COMP:hover {
            background-color: #f5f569;
            border-color: #f5f569;
        }
        .COMP-highlighted {
            background-color: #f5f569;
        }
        .COMP-highlighted:hover {
            background-color: #f5f569;
            border-color: #f5f569;
        }
.PROG:hover {
            background-color: #cc33ff;
            border-color: #cc33ff;
        }
        .PROG-highlighted {
            background-color: #cc33ff;
        }
        .PROG-highlighted:hover {
            background-color: #cc33ff;
            border-color: #cc33ff;
        }
.ITS:hover {
            background-color: #996633;
            border-color: #996633;
        }
        .ITS-highlighted {
            background-color: #996633;
        }
        .ITS-highlighted:hover {
            background-color: #996633;
            border-color: #996633;
        }
.Other:hover {
            background-color: #5ce0c4;
            border-color: #5ce0c4;
        }
        .Other-highlighted {
            background-color: #5ce0c4;
        }
        .Other-highlighted:hover {
            background-color: #5ce0c4;
            border-color: #5ce0c4;
        }
.Mechatronics:hover {
            background-color: #ff9696;
            border-color: #ff9696;
        }
        .Mechatronics-highlighted {
            background-color: #ff9696;
        }
        .Mechatronics-highlighted:hover {
            background-color: #ff9696;
            border-color: #ff9696;
        }
