/* Set the <html> font size to 100%, ensures rem scaling is correct */
:root {
    font-size: 100%;
}

/*body style*/
body {
    margin: 0;
    width: fit-content;
    height: fit-content;
}

/* entire page style, scroll on overflow */
html {
    margin: 0;
    width: fit-content;
    height: fit-content;
    overflow-x: scroll;
    overflow-y: scroll;
}

/*Header style*/
header {
    padding: 8px 8px;
    background-color: #275d38;
    margin-bottom: 10px;
    height: 60px;
    min-width: 100vw;
}

/*Header link style */
.header a {
    text-decoration: none;
    line-height: 1.5rem;
    border-radius: 4px;
    color: #f2cd00;
    font-size: 100%;
    font-family: inherit;
    text-align: center;
}

.site-title {
    padding: 1rem 1rem 1rem 25rem;
}

/*Title style*/
.header a.site-title {
    width: fit-content;
    font-size: 25px;
    color: #F2CD00;
}

/*Image style*/
.header img {
    width: 183px;
    height: 50px;
    margin-right: 0;
    float: left;
}

/* at 500px align header left when the screen is 500px wide or less*/
@media screen and (max-width: 840px) {
    .header a {
        float: none;
        display: block;
        text-align: center;  
    }

    .header img{
        margin-right: 0;
        float: left;
        position: relative;
        top: -1rem;
        right: 0.4rem;
        width: 5.5rem;
        height: 2rem;
    }

    .header a.site-title {
        width: 55vw;
        font-size: 15px;
        position: relative;
        top: -0.5rem;
        left: -1rem;
    }

    #main #introtext, #main .deptscontainer {
        left: 1rem;
    }

    footer .footer img {
        left: 30em;
    }

    footer #copyright {
        left: 45em;
    }
}

/* Wrapper div for the term names and course boxes, the main content */
#main {
    height: fit-content;
    min-height: 100vh;
    width: fit-content;
}

/* footer formatting */
footer {
    padding: 0.5rem 0.5rem;
    background-color: #275d38;
    margin-top: 10px;
    margin-bottom: 0;
    height: 4rem;
    position: relative;
    bottom: 0;
    min-width: 100vw;
}

/* U of A logo */
.footer img {
    width: 183px;
    height: 50px;
    margin-right: 0;
    position: relative;
    left: 48em;
}

/* copyright logo and text */
#copyright {
    position: relative;
    left: 70em;
    color: #FFFFFF;
    font-family: 'Roboto',sans-serif;
    font-size: 75%;
}

/* text at top of landing page */
#introtext {
    text-align: center;
    margin: 2px;
    position: relative;
    left: 10rem;
}

.deptscontainer {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 10rem;
}

.depthead {
    text-align: center;
}

.disciplines {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin-left: 3rem;
    margin-right: 3rem;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .chembutton {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .chembutton:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .civbutton {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .civbutton:hover {
    background-color: #008CBA;
    color: white;
  }

  .ecebutton {
    background-color: white; 
    color: black; 
    border: 2px solid #f66a1f;
  }
  
  .ecebutton:hover {
    background-color: #f66a1f;
    color: white;
  }

  .mecbutton {
    background-color: white; 
    color: black; 
    border: 2px solid #8f1cdc;
  }
  
  .mecbutton:hover {
    background-color: #8f1cdc;
    color: white;
  }
