/*TO DO: adjust formatting of webpage */

/* Set the <html> font size to 100%, ensures rem scaling is correct */
:root {
    font-size: 100%;
}

/*body style*/
body {
    margin: 0;
    width: fit-content;
    height: fit-content;
}

/* entire page style, scroll on overflow */
html {
    margin: 0;
    width: fit-content;
    height: fit-content;
    overflow-x: scroll;
    overflow-y: scroll;
}

/*Header style*/
header {
    padding: 0.5rem 0.5rem;
    background-color: #275d38;
    margin-bottom: 1rem;
    height: 4rem;
    width: 100vw;
}

/*Header link style */
.header a {
    padding: 1rem;
    text-decoration: none;
    line-height: 1.5rem;
    border-radius: 4px;
    color: #f2cd00;
    font-size: 100%;
    font-family: inherit;
    text-align: center;
}

/*Title style*/
.header a.site-title {
    width: fit-content;
    font-size: 1.5rem;
    position: absolute;
    left: 35vw;
    top: 0.75rem;
    color: #F2CD00;
}

/*Image style*/
.header img {
    width: 183px;
    height: 50px;
    margin-right: 0;
    float: left;
}

/* at 500px align header left when the screen is 500px wide or less*/
@media screen and (max-width: 840px) {
    .header a {
        float: none;
        display: block;
        text-align: center;  
    }

    .header img{
        margin-right: 0;
        float: left;
        position: relative;
        top: -1rem;
        right: 0.4rem;
        width: 5.5rem;
        height: 2rem;
    }

    .header a.site-title {
        width: 55vw;
        font-size: 15px;
        position: relative;
        top: -0.5rem;
        left: -1rem;
    }

    .dropdowncontainer .dropbtn {
        font-size: 10px;
    }

    footer .footer img {
        position: relative;
        top: 0.5rem;
        left: 10vw;
        width: 5.5rem;
        height: 2rem;
    }

    footer #copyright {
        left: 20vw;
    }
}

/* Wrapper div for the term names and course boxes, the main content */
#main {
    height: fit-content;
    min-height: 100vh;
    width: 100vw;
}

/* footer formatting */
footer {
    padding: 0.5rem 0.5rem;
    background-color: #275d38;
    margin-top: 10px;
    margin-bottom: 0;
    height: 4rem;
    position: relative;
    bottom: 0;
    min-width: 100vw;
}

/* U of A logo */
.footer img {
    width: 183px;
    height: 50px;
    margin-right: 0;
    position: relative;
    left: 44vw;
}

/* copyright logo and text */
#copyright {
    position: relative;
    left: 60vw;
    color: #FFFFFF;
    font-family: 'Roboto',sans-serif;
    font-size: 75%;
}

/* text at top of landing page */
#introtext {
    text-align: center;
    width: 95vw;
    margin: 2px;
}

/* container for all dropdowns, used to postion */
.dropdowncontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
  
/* Dropdown container */
.chemdropdown, .civdropdown, .ecedropdown, .mecdropdown {
    position: relative;
    display: inline-block;
    margin: 1px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3495eb;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    height: 4rem;
    width: 13rem;
    max-width: 22vw;
}
  
  /* Dropdown blocks */
.chemdropdown-content, .civdropdown-content, .ecedropdown-content, .mecdropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /* Links to programs */
.chemdropdown-content a, .civdropdown-content a, .ecedropdown-content a, .mecdropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown selection on hover */
.chemdropdown-content a:hover, .civdropdown-content a:hover, .ecedropdown-content a:hover, .mecdropdown-content a:hover {
    background-color: #ddd;
}
  
/* Display dropdown on hover */
.chemdropdown:hover .chemdropdown-content, .civdropdown:hover .civdropdown-content,
.ecedropdown:hover .ecedropdown-content, .mecdropdown:hover .mecdropdown-content {
    display: block;
}
  
/* Change color of dropdownbtn on hover */
.chemdropdown:hover .dropbtn, .civdropdown:hover .dropbtn,
.ecedropdown:hover .dropbtn, .mecdropdown:hover .dropbtn {
    background-color: #006ac7;
}